.title {
  width: 100%;
  height: 130px;
  color: white;
  background: #3BAEFF;

  margin-bottom: 10px;
}

.titleText {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
}

.list {
  display: inline;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.builtText {
  margin: 0;
  margin-bottom: 1px;
  font-weight: normal;
}

.repoLink, .repoLink:visited {
  text-decoration: none;
}

.repoText {
  margin: 0;
  font-weight: normal;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
