certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
falcon==2.0.0
httpie==1.0.2
idna==2.8
pep8==1.7.1
pycodestyle==2.5.0
Pygments==2.4.2
requests==2.22.0
urllib3==1.25.3
waitress==1.4.1; sys_platform == 'win32'
